<p><%= link_to "EN", url_for(only_path: true, loacle: "en") %>  - <%= link_to "FR", url_for(only_path: true, loacle: "fr") %></p>
<p><%= I18n.t("home.index.welcome") %></p>
<%= link_to "All the Books", books_path %>